<div class="container-float">
  <div class="main-content">
    <h2 class="main-title">통계자료</h2>
    <div class="mailing-layout">  
      <iframe name="img" src="static/images/0_gender.png" scrolling="no" frameborder="0" width="900" height="500" marginwidth = 0 marginheight = 0>
      </iframe>
    </div>
  
  
  </div>


  <div class="side-content">
    <div class="latest-news infos">
        <h2 class="infos-title">전체 데이터 시각자료</h2>
        <article class="news-article">
          <h3 class="news-title">
            <a href="#"></a>
          </h3>

            <a href="static/images/all_gender.png" target="img">성별,</a> &nbsp;
            <a href="static/images/all_exp.png" target="img">경험,</a> &nbsp;
            <a href="static/images/all_major.png" target="img">전공,</a>  &nbsp;
            <a href="static/images/all_edu_lev.png" target="img">최종학력</a> <br>
            <a href="static/images/all_last.png" target="img">이직_준비기간,</a>  &nbsp;
            <a href="static/images/all_comp_type.png" target="img">회사_업무,</a> &nbsp;
            <a href="static/images/all_comp_size.png" target="img">회사_규모</a> &nbsp;

        </div>

    <div class="latest-news infos">
        <h2 class="infos-title">이직성공 데이터 시각자료</h2>
        <article class="news-article">
          <h3 class="news-title">
            <a href="#"></a>
          </h3>
            <a href="static/images/1_gender.png" target="img">성별,</a> &nbsp;
            <a href="static/images/1_exp.png" target="img">경험,</a> &nbsp;
            <a href="static/images/1_major.png" target="img">전공,</a> &nbsp;
            <a href="static/images/1_edu_lev.png" target="img">최종학력</a> <br>
            <a href="static/images/1_last.png" target="img">이직_준비기간,</a> &nbsp;
            <a href="static/images/1_comp_type.png" target="img">회사_업무,</a> &nbsp;
            <a href="static/images/1_comp_size.png" target="img">회사_규모</a> &nbsp;
    </div>

    <div class="latest-news infos">
        <h2 class="infos-title">이직실패 데이터 시각자료</h2>
        <article class="news-article">
          <h3 class="news-title">
            <a href="#"></a>
          </h3>
            <a href="static/images/0_gender.png" target="img">성별,</a> &nbsp;
            <a href="static/images/0_exp.png" target="img">경험,</a> &nbsp;
            <a href="static/images/0_major.png" target="img">전공,</a> &nbsp;
            <a href="static/images/0_edu_lev.png" target="img">최종학력</a> <br>
            <a href="static/images/0_last.png" target="img">이직_준비기간,</a>  &nbsp;
            <a href="static/images/0_comp_type.png" target="img">회사_업무,</a> &nbsp;
            <a href="static/images/0_comp_size.png" target="img">회사_규모</a> &nbsp;
    </div>

  </div>
</div>